.sidebar {
  float: left;
  min-height: 100vh;
  min-width: 12vw;
}

.sidebar-inner {
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 12px 0 12px 29px;
  font-weight: 400;
}

.sidebar-inner:hover {
  background-color: rgba(197, 197, 197, 0.25);
}

.sidebar-inner > span {
  display: flex;
  align-content: center;
  padding-left: 20px;
}

.second-sidebar-container {
  padding: 12px 0;
  margin: 12px 0;
  border-top: 0.7px solid rgb(204, 204, 204, 0.5);
  border-bottom: 0.7px solid rgb(204, 204, 204, 0.5);
}

/* sign in div for logged out sidebar */
.third-sidebar-container {
  font-size: 14px;
  padding: 8px 31px;
  color: black;
  font-weight: bolder;
  border-bottom: 0.7px solid rgb(204, 204, 204);
  font-weight: 400;
}

.third-sidebar-container > p {
  margin: 4px 0;
}

.third-sidebar-container > button {
  margin: 10px 0;
  background-color: white;
}
