.watch-screen-video-container {
  width: 70%;
}

/* video container */
.watch-screen-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
/* video */
.watch-screen-iframe-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* video title */
.watch-screen-video-container > h2 {
  font-size: 19px;
  color: #030303;
  padding: 22px 0 16px 0;
  font-weight: 400;
}

/* div below title, with viewcount and likes etc */
.watch-screen-video-stats-container {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  padding-bottom: 13px;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

.watch-screen-video-stats-container-left {
  align-content: center;
  padding-top: 4px;
  font-size: 13.8px;
}

.watch-screen-video-stats-container-right {
  text-align: center;
}

/* react-icons class */
.watch-screen-icons {
  vertical-align: bottom;
  margin-right: 4px;
  font-size: 22px;
}

/* spans inside right container */
.watch-screen-video-stats-container-right > span {
  vertical-align: bottom;
  margin: 0 10px;
  height: 100%;
  height: min-content;
  cursor: pointer;
  align-content: center;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(95, 95, 95);
  content: attr(title);
}

/* div with icon container and stats/description container*/
.watch-screen-video-channel-container {
  position: relative;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid rgb(212, 212, 212);
  border-top: 1px solid rgb(212, 212, 212);
  overflow: hidden;
  margin-bottom: 30px;
}

.show-more-btn {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  font-family: sans-serif;
  color: rgb(124, 124, 124);
  width: 100%;
  cursor: pointer;
}

/* channel icon picture */
.watch-screen-video-channel-container > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* stats/description container w/ sub button */
.watch-screen-video-channel-stats-inner {
  padding: 12px 0 12px 12px;
  width: 100%;
}

/* channel title */
.watch-screen-channel-title {
  font-weight: 600;
  font-family: sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
  color: rgb(3, 3, 3);
  cursor: pointer;
  content: attr(title);
  width: max-content;
}

/* subcount under title */
.watch-screen-channel-subcount {
  padding-bottom: 15px;
  font-size: 13px;
  font-weight: 400;
  color: rgb(96, 96, 96);
}

/* description under subcount */
.watch-screen-description-container {
  width: 50%;
  font-weight: 400;
  font-size: 14px;
  color: rgb(96, 96, 96);
  overflow: hidden;
  height: 49px;
}

.read-more {
  height: max-content;
}

/* sub button */
.watch-screen-video-channel-stats-inner > button {
  float: right;
  cursor: pointer;
  background-color: rgb(211, 14, 14);
  color: white;
  letter-spacing: 1px;
  font-size: 14px;
  border: none;
  padding: 10px 14px;
  border-radius: 2px;
  font-weight: 600;
}

@media (max-width: 1571px) {
  .watch-screen-video-container {
    width: 98%;
  }
}

@media (max-width: 680px) {
  .watch-screen-video-stats-container-right > span {
    font-size: 13px;
  }

  .watch-screen-icons {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .watch-screen-video-stats-container {
    flex-direction: column;
  }

  .watch-screen-video-container > h2 {
    font-size: 15px;
  }

  .watch-screen-video-stats-container > * {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
  }

  .watch-screen-video-stats-container-left {
    padding-bottom: 7px;
  }

  .watch-screen-video-stats-container-right > span {
    font-size: 11px;
  }

  .watch-screen-icons {
    font-size: 10px;
  }

  .watch-screen-video-channel-stats-inner > button {
    font-size: 9px;
    padding: 7px 9px;
  }

  .watch-screen-video-channel-container > img {
    height: 35px;
    width: 35px;
  }

  .watch-screen-channel-title {
    font-size: 14px;
  }

  .watch-screen-description-container {
    font-size: 11px;
  }

  .show-more-btn {
    font-size: 11px;
    padding: 20px 0 12px 0;
  }
}

@media (max-width: 450px) {
  .watch-screen-video-channel-stats-inner > button {
    font-size: 7px;
    padding: 5px 7px;
  }

  .watch-screen-video-channel-container > img {
    height: 25px;
    width: 25px;
  }

  .watch-screen-description-container {
    font-size: 9px;
  }
}
