@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto&display=swap");
@import "./components/header/Header.css";
@import "./components/homepage/Homepage.css";
@import "./components/sidebar/Sidebar.css";
@import "./components/sidebar/SidebarSmall.css";
@import "./components/video-card/VideoCard.css";
@import "./components/watchScreen/WatchScreen.css";
@import "./components/watchScreen/watch-screen-video-container/WatchScreenVideoContainer.css";
@import "./components/watchScreen/watch-screen-video-list/WatchScreenVideoList.css";
@import "./components/watchScreen/watch-screen-comments/WatchScreenComments.css";
@import "./components/watchScreen/watch-screen-comments/Comment.css";
@import "./components/search-screen/SearchScreen.css";
@import "./components/logged-in-package/header/ProfileDropdown.css";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  text-decoration: none;
  color: black;
}

html,
body {
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #777777;
  border-radius: 12px;
}

*:hover::-webkit-scrollbar-thumb {
  background: #6e6e6e;
}

::placeholder {
  font-weight: 400;
  font-size: 15px;
}
