@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Roboto:wght@100&display=swap");
@import "./components/header/Header.css";
@import "./components/homepage/Homepage.css";
@import "./components/sidebar/Sidebar.css";
@import "./components/sidebar/SidebarSmall.css";
@import "./components/video-card/VideoCard.css";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

html,
body {
  overflow: hidden;
}
